body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-panel {
  width: 100%; height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-panel > input {
  opacity: 0.0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}