{% extends "layout.html" %}

{% macro image_panel(title, i, name) -%}
<div class="mx-2 col-xl col-12 order-{{ i }}">
    <div class="d-flex flex-row justify-content-center">
        <h4>{{ title }}</h4>
    </div>

    <div class="image-panel">
        <input type="file" accept="image/png, image/jpeg" name="{{ name }}">
    </div>
</div>
{%- endmacro %}

{% block main %}
<div class="container">
    <div class="row mb-4">
        <h2>fnst-app</h2>
        <p>
            Below you can give a content image as well as a  image from which you want to
            transfer a style from.
        </p>
    </div>

    <div class="row">
        {{ image_panel("Content", 2, "content") }}

        <div class="col-xl col-12 order-xl-3 order-lg-last">
            <div class="d-flex flex-row justify-content-center">
                <h4>Result</h4>
            </div>
            <div id="result" class="image-panel" style="transform: rotate(0);">
                <a href="#" class="stretched-link" id="im-link"></a>
            </div>
            <div class="d-flex flex-row mt-2 justify-content-center">
                <button type="button" class="btn btn-success">
                    Transfer Style
                </button>
            </div>
        </div>

        {{ image_panel("Style", 4, "style") }}
    </div>
</div>
{% endblock %}