<!DOCTYPE html>
<html lang="en">
    <head>
        <title>fnst App</title>
        <link rel="stylesheet" href="/static/stylesheets/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% block main %}{% endblock %}
        <script src="/static/js/index.js"></script>
    </body>
</html>